<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form [formGroup]="formGroup">
                <div class="form-group">
                    <label for="nombrelibro">Nombre de Libro</label>
                    <input type="text" class="form-control" id="nombrelibro" placeholder="Nombre Libro"
                        formControlName="nombrelibro">
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList"
                        [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" formControlName="autor"> 
                    </ng-multiselect-dropdown>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select id="categoria" class="form-control fron-control-br" formControlName="categoria">
                        <option *ngFor="let categoria of listcategorias" [value]="categoria.idCategoria">
                            {{categoria.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" id="nombrelibro" placeholder="ISBN" formControlName="isbn">
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" style="margin-right: 5px;" *ngIf="!isupdate"
                        (click)="RegistrarLibro()"> Registrar</button>
                    <button type="button" class="btn btn-danger" style="margin-right: 5px;" *ngIf="isupdate"
                        (click)="ActualizarRegistro()">Actualizar</button>
                    <button type="button" class="btn btn-warning" *ngIf="isupdate"
                        (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="col-md-12" style="margin-top: 14px;">
            <h4>Listado de Categorias</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre de libro</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">ISBN</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libros of listLibros">
                        <td>{{libros.nombreLibro}}</td>
                        <td>{{libros.autor}}</td>
                        <td>{{libros.categoria}}</td>
                        <td>{{libros.isbn}}</td>
                        <td>
                            <i class="fa fa-close" style="cursor: pointer;margin-right: 8px;" title="Eliminar"
                                (click)="RemoverLibro(libros)"></i>
                            <i class="fa fa-edit" style="cursor: pointer;" title="Actualizar"
                                (click)="EditarRegistro(libros)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>