<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="categoriaNombre">Nombre de Categoria</label>
                    <input type="email" class="form-control" id="categoriaNombre" placeholder="Nombre de categoria">
                </div>
                <div class="form-group">
                    <label for="descripcioncategoria">Descripcion Categoria</label>
                    <input type="email" class="form-control" id="descripcioncategoria"
                        placeholder="Descripcion Categoria">
                </div>

                <div class="col-6">
                    <button type="button" class="btn btn-primary"> Registrar</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="resetfiltros()">Limpiar Filtro</button> -->
                </div>
            </form>
        </div>

        <div class="col-md-12" style="margin-top: 14px;">
            <h4>Listado de Categorias</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre Categoria</th>
                        <th scope="col">Descripcion Categoria</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categorias of listcategorias">
                        <td>{{categorias.nombre}}</td>
                        <td>{{categorias.descripcion}}</td>
                        <td><i class="fa fa-pencil-square-o" style="cursor: pointer;" title="Actualizar"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>