<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form [formGroup]="formGroup">
                <div class="form-group">
                    <label for="categoriaNombre">Nombre de Categoria</label>
                    <input type="email" class="form-control" id="categoriaNombre" placeholder="Nombre de categoria"
                        formControlName="categoriaNombre">
                </div>
                <div class="form-group">
                    <label for="descripcioncategoria">Descripcion Categoria</label>
                    <input type="email" class="form-control" id="descripcioncategoria"
                        placeholder="Descripcion Categoria" formControlName="descripcioncategoria">
                </div>

                <div class="col-6">
                    <button type="button" class="btn btn-primary" style="margin-right: 5px;" *ngIf="!isupdate" (click)="RegistraCategoria()" > Registrar</button>
                    <button type="button" class="btn btn-danger" *ngIf="isupdate" (click)="ActualizarRegistro()">Actualizar</button>
                    <button type="button" class="btn btn-warning" *ngIf="isupdate" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="col-md-12" style="margin-top: 14px;">
            <h4>Listado de Categorias</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre Categoria</th>
                        <th scope="col">Descripcion Categoria</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categorias of listcategorias">
                        <td>{{categorias.nombre}}</td>
                        <td>{{categorias.descripcion}}</td>
                        <td>
                            <i class="fa fa-close" style="cursor: pointer;margin-right: 8px;" title="Eliminar" (click)="RemoverCategoria(categorias)"></i>
                            <i class="fa fa-edit" style="cursor: pointer;" title="Actualizar" (click)="EditarRegistro(categorias)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>